@model IEnumerable<test.Models.Propietario>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.IdPropietario)</td>
        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
        <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
        <td>@Html.DisplayFor(modelItem => item.Dni)</td>
        <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>
        <td>
            <a class="btn btn-primary btn-sm custom-link" href="@Url.Action("Edit", new { id = item.IdPropietario })">
                <i class="fas fa-edit fa-2x"></i>
            </a>
            <a class="btn btn-info btn-sm custom-link" href="@Url.Action("Details", new { id = item.IdPropietario })">
                <i class="fas fa-info-circle fa-2x"></i>
            </a>

            <a class="btn btn-danger btn-sm custom-link" href="@Url.Action("Delete", new { id = item.IdPropietario })">
                <i class="fas fa-trash-alt fa-2x"></i>
            </a>
        </td>
    </tr>

}
