@model test.Models.Contrato

@{
    ViewData["Title"] = "Detalles de Contrato";
}


<div class="container">
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0 text-center">Detalles del Contrato</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        <label class="fw-bold">N° Contrato</label>
                        <p>@Html.DisplayFor(model => model.IdContrato)</p>
                        <hr>
                    </div>

                    <div class="mb-4">
                        <label class="fw-bold">Inicio</label>
                        <p>@Html.DisplayFor(model => model.FechaInicioFormato)</p>
                        <hr>
                    </div>
                    <div class="mb-4">
                        <label class="fw-bold">Propiedad</label>
                        <p>
                            @($"{Model.Propiedad.Nombre} (ID: {Model.PropiedadId})")
                        </p>
                        <hr>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-4">
                        <label class="fw-bold">Inquilino</label>
                        <p>
                            @($"{Model.Inquilino.Nombre} {Model.Inquilino.Apellido} (ID: {Model.InquilinoId})")
                        </p>
                        <hr>
                    </div>
                    <div class="mb-4">
                        <label class="fw-bold">Fin</label>
                        <p>@Html.DisplayFor(model => model.FechaFinFormato)</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            @Html.ActionLink("Editar", "Edit", new { id = Model.IdContrato }, new { @class = "btn btn-primary mr-2" })
            <a asp-action="Index" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</div>
