@model IEnumerable<test.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

<h1 class="text-center">Contratos</h1>
<a class="explode-btn" asp-action="Create">
    <i class="fas fa-plus-circle fa-2x"></i>
</a>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="searchForm" asp-controller="Contratos" asp-action="Index" method="get" class="form-inline">

                <div class="form-group mx-sm-2">
                    <label for="fechaInicio" class="sr-only">Fecha de Inicio:</label>
                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio"
                        placeholder="Fecha de Inicio" />
                </div>
                <div class="form-group mx-sm-2">
                    <label for="fechaFin" class="sr-only">Fecha de Fin:</label>
                    <input type="date" class="form-control" id="fechaFin" name="fechaFin" placeholder="Fecha de Fin" />
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
    </div>
</div>

<table class="table mt-3">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdContrato)</th>
            <th>@Html.DisplayNameFor(model => model.FechaInicio)</th>
            <th>@Html.DisplayNameFor(model => model.FechaFin) </th>
            <th>@Html.DisplayNameFor(model => model.PropiedadId)</th>
            <th>@Html.DisplayNameFor(model => model.InquilinoId)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdContrato)</td>
                <td>@item.FechaInicio.ToString("dd/MM/yyyy")</td>
                <td>@item.FechaFin.ToString("dd/MM/yyyy")</td>
                <td>@($"{item.Propiedad.Nombre} (ID: {item.Propiedad.IdPropiedad})")</td>
                <td>@($"{item.Inquilino.Nombre} {item.Inquilino.Apellido} (ID: {item.Inquilino.IdInquilino})")</td>
                <td>
                    <a class="btn btn-primary btn-sm custom-link" href="@Url.Action("Edit", new { id = item.IdContrato })">
                        <i class="fas fa-edit fa-2x"></i>
                    </a>
                    <a class="btn btn-info btn-sm custom-link" href="@Url.Action("Details", new { id = item.IdContrato })">
                        <i class="fas fa-info-circle fa-2x"></i>
                    </a>
                    <a asp-controller="Pagos" asp-action="Index" asp-route-id="@item.IdContrato"
                        class="btn btn-success btn-sm custom-link">
                        <i class="fas fa-dollar-sign fa-2x"></i>
                    </a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-danger btn-sm custom-link" href="@Url.Action("Delete", new { id = item.IdContrato })">
                            <i class="fas fa-trash-alt fa-2x"></i>
                        </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchForm = document.getElementById("searchForm");
        const fechaInicioInput = document.getElementById("fechaInicio");
        const fechaFinInput = document.getElementById("fechaFin");

        searchForm.addEventListener("submit", function (event) {
            if (!fechaInicioInput.value || !fechaFinInput.value) {
                event.preventDefault(); // Evita que el formulario se envíe
                alert("Debes ingresar ambas fechas antes de buscar.");
            }
        });
    });
</script>
