@model List<test.Models.Propietario>
@{
    ViewData["Title"] = "Lista de Propietarios";
}

@* <div class="text-center">
    <h1 class="display-4">Listado de Personas (@Model.Count)</h1>
   <ul>
        @foreach(var p in Model){
            <li>@p.Nombre</li>
        }
   </ul>
</div> *@
<!DOCTYPE html>
<h1>Propietarios</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Dni
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                                <tr>
                                    <td>
                    @Html.DisplayFor(modelItem => item.IdPropietario)
                                    </td>
                                    <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                                    </td>
                                    <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                                    </td>
                                    <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                                    </td>
                                    <td>
                    @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                @* <td>
                                <a asp-action="Edit" asp-route-id="@item.IdPropietario" title="Editar"><span class="lnr lnr-pencil"></span></a>&nbsp;
                                <a asp-action="Eliminar" asp-route-id="@item.IdPropietario" title="Eliminar"><span class="lnr lnr-cross"></span></a>
                                <a asp-action="PorPropietario" asp-controller="Inmuebles" asp-route-id="@item.IdPropietario" title="Mis Propiedades"><span class="lnr lnr-apartment"></span></a>
                    @Html.ActionLink("Mis Propiedades", "PorPropietario", "Inmuebles", new { id= item.IdPropietario })
                            </td> *@
                                </tr>
        }
    </tbody>
</table>
</html>

